$primary: #000;
$red: #800020;
$white: #fff;
$grey: #899499;
$yellow: #FFFF00;

$header-text: 'Archivo Black', serif;
$body-text: 'Fira Sans', sans-serif;

@import 'include-media/dist/include-media';
